@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 60%;
  overflow-x: hidden;
  width: 100%;
}
:root {
  --bgColor: #0d0d0d;
  --secondBgColor: #001005;
  --textColor: white;
  --mainColor: #00a6ffae;
  --mainColor2: #4a90e2;
  --mainColor3: #33ccff;
  --mainColor4: #56e7fd;
}
body {
  background: var(--bgColor);
  color: var(--textColor);
}
/* Tema gelap */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.header {
  margin-top: -34rem;
  margin-left: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  filter: drop-shadow(0 0 10px black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
section {
  min-height: 100vh;
  padding: 10rem 12%;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.home-content h1 {
  font-size: 8rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}
.home-content h3 {
  font-size: 3.5rem;
  margin: 1rem 0;
}
.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
}
.home-img img {
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 20px var(--mainColor);
  transition: 0.4s ease-in-out;
}
.home-img img:hover {
  box-shadow: 0 0 35px var(--mainColor), 0 0 50px var(--mainColor2);
}

.typing-text {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.typing-text span {
  position: relative;
}

.typing-text span::before {
  content: "Roni";
  color: var(--mainColor3);
  animation: words 10s infinite;
}

.typing-text span::after {
  content: "";
  position: absolute;
  width: calc(100%);
  height: 100%;
  border-left: 3px solid black;
  right: -8;
  animation: cursor 0.8s infinite;
}

@keyframes cursor {
  to {
    border-left: 3px solid var(--mainColor);
  }
}

@keyframes words {
  0%,
  50% {
    content: "Moch. Zamroni Fahreza";
  }
  51%,
  100% {
    content: "Roni";
  }
}
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--mainColor2);
  border-radius: 50%;
  color: var(--mainColor);
  margin: 3rem 0.5rem;
  transition: 0.3s ease;
}
.social-icons a:hover {
  color: var(--textColor);
  background-color: var(--mainColor);
  transform: scale(1.2) translateY(-8px);
  box-shadow: 0 0 25px var(--mainColor);
}
.btn-group {
  display: flex;
  gap: 1.5rem;
}
.btn {
  display: inline-block;
  padding: 1rem 3rem;
  background: var(--mainColor);
  box-shadow: 0 0 25px var(--mainColor);
  border-radius: 3rem;
  font-size: 1.8rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  color: var(--textColor);
  background-color: var(--mainColor);
  transform: scale(1.1) translateY(-2px);
  box-shadow: 0 0 25px var(--mainColor2);
}

footer {
  padding: 25px;
  margin-top: 88vh;
  background-color: black;
  color: white;
  position: relative;
  z-index: 50;
}

.foot {
  text-align: center;
  filter: brightness(0.5);
}

.copy {
  text-align: center;
  color: #fff;
  font-size: 10px;
  filter: brightness(0.8);
}

/* responsif */
@media (max-width: 1080px) {
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-left: 2px solid var(--mainColor);
    border-bottom: 2px solid var(--mainColor);
    border-bottom-left-radius: 2rem;
    display: none;
  }
  .navbar .active {
    display: block;
  }
  .home {
    flex-direction: column-reverse;
    margin: 5rem 0;
    gap: 5rem;
  }
  .home-content {
    align-items: center;
    text-align: center;
  }
  .home-img img {
    width: 52vw;
  }
}

/* id card */
.infrontic {
  text-align: center;
  font-size: 38px;
  margin-top: 30vh;
}
span {
  color: white;
  transition: 0.3s ease;
}
span:hover {
  color: var(--mainColor4);
  text-shadow: 0 0 10px var(--mainColor2);
}

.data-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
  margin-bottom: -44vh;
}

.id-card {
  flex: 100%; /* Menampilkan 4 kartu dalam satu baris */
  width: 300px;
  height: 400px;
  margin: 2px;
  margin-top: -5vh;
  max-width: auto;
  background-color: #1c1c1c;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px var(--mainColor);
  transition: 0.3s ease;
}
.id-card:hover {
  transform: scale(0.95);
  box-shadow: 0 0 25px var(--mainColor3), 0 0 40px var(--mainColor4);
}

.profile-pic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -20px;
}

.info {
  color: #bdc3c7;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  box-sizing: border-box;
}

/* Responsif untuk layar kecil */
@media (min-width: 400) and (max-width: 768px) {
  .id-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

/* Responsif untuk layar medium */
@media (min-width: 769px) and (max-width: 1024px) {
  .id-card {
    flex: 1 1 40%;
    max-width: 125%;
  }
}
@media (min-width: 1024px) {
  .id-card {
    flex: 1 1 25%;
    max-width: 125%;
  }
}

.id-card .content {
  padding: 30px;
  text-align: center;
}

.id-card .profile-pic img {
  width: 150px;
  height: 150px;
  object-fit: cover; /* agar foto tidak gepeng */
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 100);
  transition: 0.4s ease-in-out;
}
.id-card .profile-pic img:hover {
  box-shadow: 0 0 15px var(--mainColor), 0 0 20px var(--mainColor3);
}

.id-card .info h2 {
  white-space: nowrap;
  overflow-x: auto;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: -2px;
  margin-top: -20px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(76, 104, 215, 0.5),
    0 0 20px rgba(107, 91, 149, 0.5);
}

.id-card .info h4 {
  font-size: 18px;
  margin-top: 2px;
  color: #bdc3c7;
}

/* edit ini */
.id-card .info p {
  font-size: 15px;
  color: #bdc3c7;
  margin-bottom: 10px;
  margin-top: px;
  white-space: nowrap;
  overflow-x: auto;
}
.id-card .no {
  margin-top: -6px;
}
.id-card .location {
  margin-top: -15px;
}
.id-card .ttl {
  margin-top: -15px;
}

.id-card .data-container {
  display: flex;
  margin-left: 147px;
  justify-content: center;
  gap: 10px;
}
